In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/ml-data.csv')
data

,movieId,title,genres,userId,rating,timestamp,tag,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08,NaN,114709,862.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08,NaN,114709,862.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09,NaN,114709,862.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09,NaN,114709,862.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09,NaN,114709,862.0
...,...,...,...,...,...,...,...,...,...
104532,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09,NaN,5476944,432131.0
104533,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09,NaN,5914996,445030.0
104534,193585,Flint (2017),Drama,184.0,3.5,1.537110e+09,NaN,6397426,479308.0
104535,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5,1.537110e+09,NaN,8391976,483455.0
104536,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09,NaN,101726,37891.0

In [3]:
data['title'].nunique()

9737

In [4]:
data['genres'].nunique()

951

In [5]:
data['genres'] = data['genres'].fillna('no genres listed')

In [6]:
genres_for_movie = []
genres_for_movie = data['genres'].str.split('|')
genres_for_movie

0         [Adventure, Animation, Children, Comedy, Fantasy]
1         [Adventure, Animation, Children, Comedy, Fantasy]
2         [Adventure, Animation, Children, Comedy, Fantasy]
3         [Adventure, Animation, Children, Comedy, Fantasy]
4         [Adventure, Animation, Children, Comedy, Fantasy]
                                ...
104532                 [Action, Animation, Comedy, Fantasy]
104533                         [Animation, Comedy, Fantasy]
104534                                              [Drama]
104535                                  [Action, Animation]
104536                                             [Comedy]
Name: genres, Length: 104537, dtype: object

In [7]:
genres_columns = []
for element in genres_for_movie:
    if len(element) > 0:
        for el in element:
            #print(el)
            genres_columns.append(el)

genres_columns = set(genres_columns)
genres_columns

{'(no genres listed)',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western',
 'no genres listed'}

In [8]:
for el in genres_columns:
    data[el] = 0
data

,movieId,title,genres,userId,rating,timestamp,tag,imdbId,tmdbId,Children,...,(no genres listed),Action,Fantasy,War,no genres listed,Film-Noir,Romance,Animation,Thriller,IMAX
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08,NaN,114709,862.0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08,NaN,114709,862.0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09,NaN,114709,862.0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09,NaN,114709,862.0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09,NaN,114709,862.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104532,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09,NaN,5476944,432131.0,0,...,0,0,0,0,0,0,0,0,0,0
104533,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09,NaN,5914996,445030.0,0,...,0,0,0,0,0,0,0,0,0,0
104534,193585,Flint (2017),Drama,184.0,3.5,1.537110e+09,NaN,6397426,479308.0,0,...,0,0,0,0,0,0,0,0,0,0
104535,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5,1.537110e+09,NaN,8391976,483455.0,0,...,0,0,0,0,0,0,0,0,0,0
104536,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09,NaN,101726,37891.0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
for element in genres_columns:
    for i in range(len(genres_for_movie)):
        if element in genres_for_movie[i]:
            data.at[i,element] = 1
data

,movieId,title,genres,userId,rating,timestamp,tag,imdbId,tmdbId,Children,...,(no genres listed),Action,Fantasy,War,no genres listed,Film-Noir,Romance,Animation,Thriller,IMAX
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08,NaN,114709,862.0,1,...,0,0,1,0,0,0,0,1,0,0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08,NaN,114709,862.0,1,...,0,0,1,0,0,0,0,1,0,0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09,NaN,114709,862.0,1,...,0,0,1,0,0,0,0,1,0,0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09,NaN,114709,862.0,1,...,0,0,1,0,0,0,0,1,0,0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09,NaN,114709,862.0,1,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104532,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09,NaN,5476944,432131.0,0,...,0,1,1,0,0,0,0,1,0,0
104533,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09,NaN,5914996,445030.0,0,...,0,0,1,0,0,0,0,1,0,0
104534,193585,Flint (2017),Drama,184.0,3.5,1.537110e+09,NaN,6397426,479308.0,0,...,0,0,0,0,0,0,0,0,0,0
104535,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5,1.537110e+09,NaN,8391976,483455.0,0,...,0,1,0,0,0,0,0,1,0,0
104536,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09,NaN,101726,37891.0,0,...,0,0,0,0,0,0,0,0,0,0